@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
--clr-neutral-900: hsl(207, 19%, 9%);
--clr-neutral-100: hsl(0, 0%, 100%);
--clr-neutral-400: hsl(142, 90%, 61%);
--clr-neutral-200: #f36b21;
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
#button-for-all-devices {
    display: none;
    font-size: 2rem;
  
  }

.row01{
    display: flex;
    flex-direction: row-reverse !important;
   
  
}
.just-for-padding{
    padding-right: 120px;
}



p {
    font-size: 18px;
    line-height: 21px;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/**/
/**/
/**/
.just-for-button-onclick-class li a{
  text-decoration: none;

}
.just-for-button-onclick-class li a{
  
  margin-right: 10px;
}
.just-for-button-onclick-class li a:hover{
  color: #28ABE3 !important;
  border-bottom: 2px solid #28ABE3;
  transition: background-color 200ms linear;
}
/**/
/*container-for-main-body*/
.container-for-all-header{
    margin-bottom: 70px;
   
}
/* end container-for-main-body*/
/*nav*/
.branding {
    font-size: 2.5rem;
}
.branding-container  {
  color: #555;
  font-family: "Dancing Script", cursive ;
  font-size: 1.1rem ;
}
.branding-description {
  font-size: 1.7rem;
  text-align: center ;
  font-weight: 600 ;
}
.nav-tag-nav-bar {
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
}
.media-links {
  margin-right: 10px;
}
.media-links a {
  text-decoration: none;
}
.media-links .fab:hover {
  color: var(--clr-neutral-200);
}
.nav-tag-nav-bar .fab {
  font-size: 1.6rem;
  color: #000;
  margin-right: 10px;
}
.activeLinkClass {
  border-bottom: 2px solid var(--clr-neutral-200);
  color: var(--clr-neutral-200);
}
.navbar ul li a:hover {
  cursor: pointer;
  color: var(--clr-neutral-200);
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
.navbar {
background-color:#fff;
  color: #000;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 995;

  /*border-bottom: 1px solid gray;*/
}
.navbar ul {
  display: flex;
  align-items: center;
}
nav ul {
  list-style-type: none;
}
nav ul {
  display: inline-block;
}

.navbar ul li a {
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
nav ul li a {
  color: #000;
}
/*end nav*/
/*end nav*/
/*end nav*/
/*wrapper-for-my-button-and-hello*/

.my-hello {
  background-color: transparent;
  position: relative;
  bottom: 50px;
}
.my-hello span:hover {
  display: inline;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.header{
    width: 100% !important;
    
   }
    .col-sm-12{
        width: 100% !important;
    }
/*media queries*/ 
@media(max-width:1250){
    img{
        width: 400px !important;
    }

}
@media(max-width:900px){
    img{
        max-width: 350px !important;
    }
}
@media (max-width: 1100px) {
    .row{
       display: flex;
       flex-direction: column;
    
       
    }
    .row01{
        display: flex;
        flex-direction: column !important;
    }
    .row{
        align-items: center !important;
    }
    img{
        max-width: 400px !important;
}

.single_service{
   
}

}
@media (max-width: 930px) {
    #button-for-all-devices {
      display: inline-block;
      margin-top: 30px;
      font-size: 2.5rem;
    }
   
    .navbar ul {
      margin-top: 23px;
    }
    .navbar ul li {
      padding: 6px;
      margin: 10px;
    }
    .navbar ul li:nth-child(4) {
      padding-bottom: 15px;
    }
   .header{
    width: 100% !important;
   }
  .row{
    align-items: center !important;
  }
    #just-for-button-onclick {
      background-color: #333;
      color: #fff;
      display: none;
      position: fixed;
      right: 0;
      top: 63px;
      width: 100%;
    }
    .my-hello {
      font-size: 3.5rem;
    }
    .navbar ul li a {
      color: #fff;
    }
  }
  @media (max-width: 800px) {
    .my-hello {
      font-size: 3rem;
    }
    
  }
  @media (max-width: 600px) {
    .my-hello {
      font-size: 2.4rem;
      
    }
   
    .header{
    
    }
  }
  @media (max-width: 425px) {
    #button-for-all-devices {
      font-size: 2rem;
    }
    img{
        max-width: 300px !important;
    }
    .header{
        padding: 0 !important;
    }
    .col-sm-6{
        padding: 0 !important;
    }
  }
  @media (max-width: 375px) {
    .navbar {
      color: #333;
    }
    .card-1 h2 {
      font-size: 1.3rem;
    }
    img{
        max-width: 250px !important;
    }
  }
  /*end media queries*/
/*wrapper-for-my-button-and-hello*/

.my-hello {
  background-color: transparent;
  position: relative;
  bottom: 50px;
}
.my-hello span:hover {
  display: inline;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

/*end wrapper-for-my-button-and-hello*/
  /*navbar end*/


/*--------------------------------------------------*/
/* Start Header Section                             */
/*--------------------------------------------------*/


/*scrolled*/
.scrolled {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: #fff !important;
  }
/*end scrolled */  
.header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/nuts.jpeg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 720px !important;
    padding-top: 0px;
}

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.header .intro-text h1 {    
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Oswald', sans-serif;
}

.header .intro-text p {
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.header .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
}





.about-us-section-1 {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #f1f1f1;
}

.about-us-section-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #28ABE3;    
}

.welcome-section {
	background-color: #fff;
    padding-bottom: 40px;
    box-shadow: 0 0 3px #ccc;
    padding: 30px;
}

.welcome-section img {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}


.welcome-section h4 {
    padding-top: 20px;
    color: #777;
}

.welcome-section p {
    padding-top: 20px;
    color: #999;
}

.welcome-section:hover .border {
    margin: 0 40%;
}


/*image steps*/

#service{
    padding-top: 0px;
    margin-top: -30px;
    background-color: #f8f8f8;
}
.row{
    padding-top: 100px;
}

/*footer*/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #103136;
    color: #fff;
  }
  /*end footer*/